body {
  padding: 0;
  margin: 0;
  background-color: #222629;
}

.ant-btn {
  box-shadow: none !important;
}

.ant-select-selector,.ant-input,.ant-input-number-input {
  box-shadow: none !important;
  outline: none !important;
}

.ant-popover {
  box-shadow: 0px 1px 2px 0px rgba(163, 163, 163, 0.75);;
}

.ant-tour-content {
  width: 300px;
}

.ant-table-selection-column {
  padding-inline-start: 16px !important;
}