version: '3.1'

services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dbname
    ports:
      - "6435:5432"
    volumes:
      - dbname_volume:/var/lib/postgresql/data
    networks:
      - app_network
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', 'postgres', '-d', 'dbname']
      interval: 5s
      timeout: 5s
      retries: 5
  
  valkey:
    image: valkey/valkey:latest
    container_name: valkey_instance
    restart: always
    ports:
      - "6389:6379"
    volumes:
      - valkey_data:/data
    command: ["valkey-server", "--save", "20 1", "--loglevel", "notice"]

volumes:
  dbname_volume:
  valkey_data:
    driver: local

networks:
  app_network:
    driver: bridge